<%- include('./head.ejs') %>
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <div class="aboutUs__container">
                <div class="aboutUs__box">
                    <h2>Nonprofit <span>O</span>rganization</h2>
                    <p> A nonprofit is an organization that uses its income and profits for the organization's main goal
                        that supports the mission. On the other hand, a charity is a type of nonprofit that engages in
                        activities aimed at improving lives in the communities</p>
                </div>
            </div>
            <%- include('./end.ejs') %>