<%- include('./head.ejs') %>
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <div class="myImage">
                <div class="content">
                    <h1>Charity yourself</h1>
                    <p>A philanthropist may not always find universal approval for their deeds.[2] Common accusations
                        include supporting an unworthy cause (such as funding art instead of fighting world hunger)</p>
                </div>
            </div>
            <div class="theySay">
                <div class="boxImage">
                    
                </div>
            </div>

            <%- include('./end.ejs') %>