<%- include('./head.ejs') %>
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <div class="myImage">
                <div class="content">
                    <h1>Charity yourself</h1>
                    <p>A philanthropist may not always find universal approval for their deeds.[2] Common accusations
                        include supporting an unworthy cause (such as funding art instead of fighting world hunger)</p>
                </div>
            </div>
            <div class="theySay">
                <div class="title white">
                    <div class="titleText">
                        They say <span>A</span>bout Us<span>.</span>
                    </div>
                    <p>For the use of the term "testimonial" in sport (especially football), see testimonial match. For
                        the Superstore episode, see Testimonials (Superstore).</p>
                    </p>
                </div>
                <div class="theySay__content">
                    <div class="box">
                        <div class="imgBx">
                            <img src="/images/bill-gate.jpg">
                        </div>
                        <div class="text">
                            <p>a person's written or spoken statement extolling the virtue of a product.</p>
                            <h3>© Bill Gate philanthrophy</h3>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgBx">
                            <img src="/images/jeff-beros.jpg">
                        </div>
                        <div class="text">
                            <p>Advertisers have attempted to quantify and qualify the use of celebrities in their
                                marketing campaigns by evaluating the awareness generated, appeal, and relevance to a
                                brand's image and the celebrity's influence on consumer buying behavior.</p>
                            <h3>© Jeff medicine</h3>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgBx">
                            <img src="/images/test-professer1.jpg">
                        </div>
                        <div class="text">
                            <p> Sometimes, the cartoon character can be a testimonial in a commercial.</p>
                            <h3>© Akito linsece</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bankConnecting">
                <div class="myBank">
                    <div class="bankContainer">
                        <div class="title-Banker">
                            <span>C</span>o-operate Banks<span>.</span>
                        </div>
                        <div class="box__Bank">
                            <div class="imageBank">
                                <img src="/images/logo/DBS_Bank_logo_logotype.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/logo-bank-3.jpg">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/logo-bank-5.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/logo-mb-bank-.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/logo_bank-4.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/logo-ngan-hang-CB.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/saigon-bank-logo.png">
                            </div>
                            <div class="imageBank">
                                <img src="/images/logo/VIB-bank-logo-01-e1585973101116.png">
                            </div>
                        </div>
                        <video id="videosBG" poster="/images/nature.jpg" autoplay muted loop>
                            <source src="/images/main-background.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <%- include('./end.ejs') %>