<div class="backdrop"></div>
<header class="header">
    <div class="theLogo">
        <a href="/" class="logo">Us <span>.</span>humanity</a>
    </div>
    <ul class="navigation">
        <li>
            <a href="/donation" class="donatTool">Donation</a>
        </li>
        <li>
            <a href="/aboutUs" class="donatTool">About Us</a>
        </li>
    </ul>

</header>