<link rel="stylesheet" href="../css/createEvent.css">
<%- include('./head.ejs') %>
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <div class="container_thanks">
                <div class="thanksTo">
                    <h1> THANKS TO YOUR CHARITY<span>!</span></h1>

                    <h3>WE APPRICIATED YOUR DONATION. JUST BE MORE HUMAN THEN WE CARE MORE HUMAN</h3>
                    <h3>EVERYMOMENT CAN BECOME A HAPPY MOMENT BECAUSE OF YOUR </h3>
                    <p>Leave us any comment,chatting or share your opinion, or a event donation you want us create at
                        below
                        donation event.
                        Every comment is important with us.!
                    </p>
                </div>
            </div>
            <%- include('./end.ejs') %>